### Square Root Diffusion

In [1]:
import warnings; warnings.simplefilter('ignore')

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [4]:
h5 = pd.HDFStore('data/vstoxx_march_2014.h5', 'r')
vstoxx_index = h5['vstoxx_index']  # data for the index itself 
vstoxx_futures = h5['vstoxx_futures']  # data for the futures
vstoxx_options = h5['vstoxx_options']  # data for the options
h5.close()

In [5]:
vstoxx_index.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 63 entries, 2014-01-02 to 2014-03-31
Data columns (total 9 columns):
V2TX    63 non-null float64
V6I1    57 non-null float64
V6I2    63 non-null float64
V6I3    61 non-null float64
V6I4    63 non-null float64
V6I5    63 non-null float64
V6I6    62 non-null float64
V6I7    63 non-null float64
V6I8    63 non-null float64
dtypes: float64(9)
memory usage: 4.9 KB

In [6]:
vstoxx_index.tail()

,V2TX,V6I1,V6I2,V6I3,V6I4,V6I5,V6I6,V6I7,V6I8
b'Date',,,,,,,,,
2014-03-25,18.2637,18.2303,18.3078,19.0371,19.8378,20.3065,18.1063,20.8292,21.2046
2014-03-26,17.5869,17.4810,17.7009,18.4499,19.4150,19.9961,20.2562,20.4541,20.8563
2014-03-27,17.6397,17.5032,17.7608,18.6249,19.4860,20.0477,20.1078,20.4865,20.9449
2014-03-28,17.0324,16.6849,17.2864,18.3281,19.3032,19.8332,20.1371,20.3808,20.8210
2014-03-31,17.6639,17.6087,17.6879,18.5689,19.4285,20.0430,19.9823,20.4448,20.8994

In [7]:
third_fridays = sorted(set(vstoxx_futures['MATURITY']))
third_fridays

[1389916800000000000,
 1392940800000000000,
 1395360000000000000,
 1397779200000000000,
 1400198400000000000,
 1403222400000000000,
 1405641600000000000,
 1408060800000000000,
 1411084800000000000,
 1413504000000000000,
 1416528000000000000]