In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import quandl as ql
import seaborn as sns
import scipy.stats
import pandas_datareader as pdr
from datetime import datetime
mpl.rcParams['font.family'] = 'serif'
%matplotlib inline

#### Stylied facts about Implied Volatility Surfaces
* OTM implied vol is higher than ATM implied vol showing a 'smile'
* Smiles present since 1987 crash
* Smiles more pronounced for short-term than long-term. This is called volatility term structure

In [3]:
import ES50_imp_vol as ES50

In [27]:
data = pd.HDFStore('../dawp/python27/03_stf/es50_option_data.h5', 'r')#['data']

1412035200000000000

In [20]:
# data_imp_vol = ES50.calculate_imp_vols(data)

In [8]:
es_url = 'http://www.stoxx.com/download/historical_values/hbrbcpe.txt'
# column names to be used
cols = ['Date', 'SX5P', 'SX5E', 'SXXP', 'SXXE',
        'SXXF', 'SXXA', 'DK5F', 'DKXF', 'DEL']
# reading the data with pandas
es = pd.read_csv(es_url,  # filename
                 header=None,  # ignore column names
                 index_col=0,  # index column (dates)
                 parse_dates=True,  # parse these dates
                 dayfirst=True,  # format of dates
                 skiprows=4,  # ignore these rows
                 sep=';',  # data separator
                 names=cols)  # use these column names
# deleting the helper column
del es['DEL']
S0 = es['SX5E']['30-09-2014']
r = -0.05

In [28]:
es.head()

              SX5P    SX5E   SXXP   SXXE   SXXF   SXXA    DK5F   DKXF
Date
1986-12-31  775.00  900.82  82.76  98.58  98.06  69.06  645.26  65.56
1987-01-01  775.00  900.82  82.76  98.58  98.06  69.06  645.26  65.56
1987-01-02  770.89  891.78  82.57  97.80  97.43  69.37  647.62  65.81
1987-01-05  771.89  898.33  82.82  98.60  98.19  69.16  649.94  65.82
1987-01-06  775.92  902.32  83.28  99.19  98.83  69.50  652.49  66.06

In [37]:
data = pd.HDFStore('../dawp/python36/03_stf/es50_option_data.h5', 'r')
data['data'].tail()

                    Date  Strike  Call             Maturity    Put
498  1412035200000000000  3750.0  27.4  1442534400000000000  635.9
499  1412035200000000000  3800.0  21.8  1442534400000000000  680.3
500  1412035200000000000  3850.0  17.2  1442534400000000000  725.7
501  1412035200000000000  3900.0  13.4  1442534400000000000  772.0
502  1412035200000000000  3950.0  10.4  1442534400000000000  818.9